.name-lok {
    text-align: center;
    margin-bottom: 20px;
    color: orangered;
    font-size: 40px;
}

.day-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        width: 100%;
        // @media screen and (min-width: 480px) {
    
        // }
    
        @media screen and (min-width: 768px) {
            flex-wrap: wrap;
            flex-direction: row;
            align-items: baseline;
            gap: 32px;
        }
    
        @media screen and (min-width: 1280px) {
            column-gap: 16px;
            row-gap: 32px;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: baseline;
        }
   color: blue;
    

    &__item {
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
    padding: 20px 20px;
    width: 100%;
    background-color: yellow;

    @media screen and (min-width: 768px) {
           width: calc((100% - 32px) / 2);
        }
    
        @media screen and (min-width: 1280px) {
            width: calc((100% - 2 * 32px) / 3)
        }
    }

   &__date {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
   }

   &__main{
    margin-bottom: 15px;
    border-bottom: 1px solid blue;
   }

   &__img{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: 10px;
   }

   &__temp-text {
    margin-bottom: 15px;
    text-align: center;
    font-size: 26px;
   }

   &__temp-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
   }

   &__main-min {
    color: violet;
   }

   &__main-aver {
       color: green;
   }

   &__main-max {
       color: red;
   }

   &__temp {
    color: orangered;
   }

   &__temp-icon {
    color: black;
   }

   &__temp-detale{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
   }

//    &__temp {

//    }
}