<section class="header section" id="headerID">
    <div class="container">
        <!-- <img src="https://ukranews.com/upload/news/2019/04/08/5c8f845bcfef7-rainbow-1649789-960-720_1200.jpg.webp" alt=""> -->
        <form class="form">
            <label class="form__search">
                <input class="form__search__input" type="text" placeholder="Ведіть назву міста англійською" />
                <button class="form__btn" type="submit">
                    <svg class="form__icon" width="18" height="18">
                        <use class="form__icon__search" href="./images/icon.svg#icon-search"></use>
                    </svg>
                </button>
            </label>
        </form>
    </div>
</section>

